<el-card class="card">
  <!-- 面包屑组件 -->
  <my-breadcrumb level1="用户管理" level2="用户列表"></my-breadcrumb>

  <!-- <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>用户管理</el-breadcrumb-item>
    <el-breadcrumb-item>用户列表</el-breadcrumb-item>
  </el-breadcrumb> -->
  <!-- 搜索 -->
  <el-row class="searchRow">
    <el-col :span="24">
      <el-input
        v-model="searchValue"
        clearable
        placeholder="请输入内容"
        class="searchInput">
        <el-button
          @click="handleSearch"
          slot="append"
          icon="el-icon-search"></el-button>
      </el-input>
      <el-button @click="addUserDialogFormVisible = true" type="success" plain>添加</el-button>
    </el-col>
  </el-row>
  <!-- 表格 -->
  <!-- border 加边框
    stripe 斑马纹
    序号列
  -->
  <el-table
    border
    stripe
    :data="data"
    style="width: 100%">
    <!-- 序号 -->
    <el-table-column
      type="index"
      width="50">
    </el-table-column>
    <el-table-column
      prop="username"
      label="姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话"
      width="180">
    </el-table-column>
    <el-table-column
      label="时间"
      width="180">
      <template slot-scope="scope">
        {{ scope.row.create_time | fmtDate('YYYY-MM-DD') }}
      </template>
    </el-table-column>
    <el-table-column
      label="用户状态"
      width="80">
      <template slot-scope="scope">
        <!-- {{ scope.row.mg_state }} -->
        <el-switch
          @change="handleChange(scope.row)"
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          inactive-color="#ff4949">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
        <!-- scope.row 是当前行绑定的数据对象 -->
        <!-- {{ scope.$index }} -->
        <el-button
          @click="openEditDialog(scope.row)"
          type="primary"
          icon="el-icon-edit"
          size="mini"
          plain>
        </el-button>
        <el-button
          @click="handleDelete(scope.row.id)"
          type="danger"
          icon="el-icon-delete"
          size="mini"
          plain>
        </el-button>
        <el-button
          @click="handleOpenSetRoleDialog(scope.row)"
          type="success"
          icon="el-icon-check"
          size="mini"
          plain>
        </el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- 分页 -->
  <!--
    current-page 当前页码
    page-size 每页显示多少条数据
    pager-count 最多产生的数字按钮个数,大于等于 5 且小于等于 21 的奇数
    total   总共多少条数据，发送请求获取

    @size-change  每页显示多少条改变的时候
    @current-change 当前页码改变的时候
  -->
  <el-pagination
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="pagenum"
    :page-size="pagesize"
    :page-sizes="[2, 4, 6, 8]"
    :pager-count="9"
    layout="total, sizes, prev, pager, next, jumper"
    :total="count">
  </el-pagination>

  <!-- 添加用户的对话框 -->
  <el-dialog
    title="添加用户"
    :visible.sync="addUserDialogFormVisible">
    <el-form
      ref="addForm"
      :rules="rules"
      label-width="80px"
      :model="form">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="form.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" v-model="form.password" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="form.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="form.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addUserDialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAdd">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 编辑用户的对话框 -->
  <el-dialog
    @close="handleEditDialogClose"
    title="修改用户"
    :visible.sync="editUserDialogFormVisible">
    <el-form
      ref="editForm"
      label-width="80px"
      :model="form">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="form.username" readonly auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="form.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="form.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editUserDialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEdit">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 分配角色的对话框 -->
  <el-dialog
    title="分配角色"
    :visible.sync="setRoleDialogFormVisible">
    <el-form
      label-width="100px">
      <el-form-item label="用户名">
        {{ currentName }}
      </el-form-item>
      <el-form-item label="请选择角色">
        <el-select v-model="currentRoleId">
          <el-option label="请选择" :value="-1" disabled></el-option>
          <el-option
            v-for="item in roles"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="setRoleDialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleSetRole">确 定</el-button>
    </div>
  </el-dialog>

</el-card>